@import "src/vrs";

.container{
  display: flex;
  justify-content: space-between;
  height: 7rem;
  border: 0.2rem solid lighten( $font-color-header-one, 20%);
  border-radius: 1.8rem;
  padding: 0.6rem 2rem;
  margin-top: 0.9rem;

  .max-width{
    width: 100%;
  }
}
