<div class="container">
  <app-play-track-item class="max-width"
                       *ngIf="!isEdit"
                       (changeOrder)="changeOrder($event.way, $event.order)"
                       (changeState)="switchStates(true)"
                       [trackData]="trackDataToShare">

  </app-play-track-item>
  <app-edit-track-item class="max-width"
                       *ngIf="isEdit"
                       (updateTrackData)="updateTrackData($event.id, $event.trackData)"
                       [trackData]="trackDataToShare">

  </app-edit-track-item>
</div>

