<div class="container">
  <app-play-track-item class="max-width"
                       *ngIf="!isEdit"
                       (changeOrder)="changeOrder($event.way, $event.order)"
                       (changeState)="switchStates(true)"
                       [trackData]="trackDataToShare"
                       [currentTrackId]="currentTrackId"
                       [isPlay]="isPlay"
                       (trackPlayEvent)="trackPlay($event.trackId, $event.isPlay)"
  >

  </app-play-track-item>
  <app-edit-track-item class="max-width"
                       *ngIf="isEdit"
                       (doFrontPageTrack)="doFrontPageTrack($event.id)"
                       (changeState)="switchStates(false)"
                       (deleteTrackEvent)="deleteTrack($event.id)"
                       (updateTrackData)="updateTrackData($event.id, $event.trackData)"
                       [trackData]="trackDataToShare">

  </app-edit-track-item>
</div>

