@import "src/vrs";

.container{
  display: flex;
  height: 7rem;
  flex-direction: column;
  justify-content: space-around;
  border: 0.2rem solid lighten( $font-color-header-one, 20%);
  border-radius: 1.8rem;
  padding: 0.6rem 2rem;
  margin-top: 0.9rem;
}
