$main-bkg: #ffffff;

$grey-one: #b5b7b7;
$grey-two: #555757;
$grey-three: #f6f8f8;

$dark-one: #000000;
$login-input-text: lighten( $dark-one, 20% );
$public-news-text: lighten( $dark-one, 35% );
$public-news-header: lighten( $dark-one, 28% );
$front-page-msg: lighten( $dark-one, 28% );
$front-page-link: lighten( $dark-one, 28% );
$front-page-button: lighten( $dark-one, 40% );
$front-page-icon: lighten( $dark-one, 20% );
$font-color-header-one: #4f4f4f;

$red-one: #F49C9B;
$red-two: #AD5A59;
$red-three: #C14545;

