<div class="container" (click)="doChangeState()">
  <form class="track-edit-form" #trackEditFormTag="ngForm" [formGroup]="trackEditForm" (ngSubmit)="onFormSubmit($event)">
      <div class="input-block">
        <app-input-form-control [formControl]="trackEditForm.controls['bandName']"></app-input-form-control>
        <app-validation-message [field]="trackEditForm && trackEditForm.get('bandName')"></app-validation-message>
      </div>
      <div class="input-block">
        <app-input-form-control [formControl]="trackEditForm.controls['trackName']"></app-input-form-control>
        <app-validation-message [field]="trackEditForm && trackEditForm.get('trackName')"></app-validation-message>
      </div>
      <app-round-button
        *ngIf="trackEditForm.valid && trackEditForm.touched"
        [customStyles]="{width: '3rem',height: '3rem'}"
        [icon]="'clear'"
        (clickButton)="saveTrack()"
      >
      </app-round-button>
  </form>
</div>
