@import "src/vrs";

.container{
  cursor:pointer;
  height: 100%;
  display:flex;
  justify-content: space-between;
  align-items: center;
  .track-edit-form{
    height: 50%;
    display:flex;
    justify-content: flex-start;
    align-items: flex-start;

    &>*{
      margin-left: 1rem;
    }
  }
}
