@import "src/vrs";

button {
  display: flex;
  justify-content: center;
  align-items: center;

  background: $main-bkg;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  color: $grey-two;
  border: 1px solid $grey-one;
  cursor: pointer;

  &:hover {
    animation-duration: 1.5s;
    animation-name: hovered-button;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
}

@keyframes hovered-button {
  0% {
    color: lighten($red-one, 10%);
    border-color: lighten($red-one, 10%);
  }
  50% {
    color: darken($red-one, 10%);
    border-color: darken($red-one, 10%);
  }
  100% {
    color: lighten($red-one, 10%);
    border-color: lighten($red-one, 10%);
  }
}
