@import "src/vrs";

.container {
  border: 0.2rem solid lighten( $font-color-header-one, 20%);
  border-radius: 1rem;
  height: 6rem;
  padding-top: 1rem;
  width: 99.5%;
  position: fixed;
  bottom: 0.1rem;
  left: 0.3rem;
  background-color: $main-bkg;
  box-shadow: 5px -8px 14px -9px rgba(97,85,97,1);
}
