<header>
  <nav>
    <ul>
      <li><a class="or" routerLink="/or" routerLinkActive="active">or</a></li>
      <li><a class="news" routerLink="/news" routerLinkActive="active">news</a></li>
      <li><a class="tracks" routerLink="/tracks" routerLinkActive="active">tracks</a></li>
      <li><a class="links" routerLink="/links" routerLinkActive="active">links</a></li>
    </ul>
  </nav>
  <div class="logout-btn">
    <app-round-button
      *ngIf="isLoggedIn$ | async"
      [customStyles]="{width: '4rem',height: '4rem'}"
      [icon]="'exit_to_app'"
      (clickButton)="logout()"
    >
    </app-round-button>
  </div>
</header>
