<div class="container" (click)="doChangeState()">
  <div class="left-container">
    <div class="name-block">
      <span class="track-name"><strong>{{trackData.bandName}}</strong> &mdash; {{trackData.trackName}}</span>
    </div>
  </div>
  <div class="right-container">
    <app-control-track-button [icon]="'edit'"></app-control-track-button>
    <app-control-track-button [icon]="'keyboard_arrow_up'"></app-control-track-button>
    <app-control-track-button [icon]="'keyboard_arrow_down'"></app-control-track-button>
  </div>
</div>
