.main-container {

  @media (min-height: 360px) {
    max-height: 50vh;
  }

  @media (min-height: 460px) {
    max-height: 57vh;
  }

  @media (min-height: 560px) {
    max-height: 63vh;
  }

  @media (min-height: 660px) {
    max-height: 68vh;
  }

  @media (min-height: 760px) {
    max-height: 72vh;
  }

  @media (min-height: 960px) {
    max-height: 76vh;
  }

  .container{
    &:first-child {
      margin-top: 5rem;
    }
  }
}
