<ng-scrollbar>
  <div class="main-container">
    <div *ngFor="let track of tracks" class="container">
      <app-public-track-item
        [trackData]="track"
        [currentTrackId]="currentTrackId"
        [isPlay]="isPlay"
        (playTrack)="trackPlayFromLst($event.trackId, $event.isPlay)">

      </app-public-track-item>
    </div>
  </div>
</ng-scrollbar>
<app-public-audio-player *ngIf="!!tracks && tracks.length > 0"
  (trackPlayEvent)="trackPlay($event.trackId, $event.isPlay)"
  [initTrackId] = "tracks[0].songId">
</app-public-audio-player>
