@import "src/vrs";

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  .track-name {
    opacity: 0;
    margin-top: 1.5rem;
    color: $front-page-button;
    font-size: 1.4rem;
    transition: all 0.5s;
  }

  &:hover .track-name {
    opacity: 1;
    transition: all 0.5s;
  }

  .volume-slider {
    opacity: 0;
    transition: all 0.2s;
  }

  &:hover .volume-slider {
    opacity: 1;
    transition: all 0.8s;
  }

  .btn-container {
    border: $front-page-button solid 2px;
    border-radius: 50%;
    width: 17rem;
    height: 17rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    .reset{
      position: absolute;
      top: 0;
      right: 0;
      color: $front-page-button;
    }

    .button-icon{
      font-size: 13rem;
      width: 13rem;
      height: 13rem;
      color: $front-page-icon;
    }
  }
}
