@import "src/vrs";

.shape-container{
  -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  background: $grey-two;
  width: 3rem;
  height: 3rem;
  position: relative;
  button{
    -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    background: $main-bkg;
    width: 2.4rem;
    height: 2.4rem;
    color: $grey-two;
    border: none;
    padding-top: 0.7rem;
    position: absolute;
    top: 0.6rem;
    left: 0.29rem;
    font-size: 1.6rem;
    cursor: pointer;
  }
}
