@import "src/vrs";

.container {
  height: 95vh;
  @media (min-width: 1200px) {
    height: 90vh;
  }

  @media (max-height: 470px) {
    flex-direction: row;
  }

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  .logo {

    width: 20rem;
    height: 20rem;

    @media (max-width: 1200px) {
      width: 13rem;
      height: 13rem;
    }

    @media (max-width: 576px) {
      width: 12rem;
      height: 12rem;
    }

    @media (max-width: 360px) {
      width: 10rem;
      height: 10rem;
    }

    background: url("/assets/logo-front-page.png");
    background-size: cover;
  }
  .hello-msg {
    color: $front-page-msg;
    font-size: 1.7rem;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 0 0.5rem;

    width: 55rem;
    height: 12rem;

    &.big-msg{
      display: flex;
    }
    &.sm-msg{
      display: none;
      text-align: center;
    }

    @media (max-width: 768px) {
      width: 27rem;
      height: unset;

      &.big-msg{
        display: none;
      }
      &.sm-msg{
        display: block;
      }
    }

    @media (max-width: 360px) {
      width: 90%;
    }

    span {
      text-align: center;
    }

    a {
      color: $front-page-link;
      font-size: 1.8rem;
      font-weight: 500;
    }
  }
}


