<div class="container">
  <div class="logo"></div>
  <div class="hello-msg big-msg">
    <span>Hello! this is the opposite reaction and here is our home=)</span>
    <span>On that page you can listen to our <a href="/tracks">music</a> also we will share here
      some <a href="/news">info</a> about our band and upcoming tracks.</span>
    <span>Make yourself at home!</span>
    <span>(btw check one of our latest tracks right here :) )</span>
  </div>
  <div class="hello-msg sm-msg">
    Hello! this is the opposite reaction and here is our home=)
    On that page you can listen to our <a href="/tracks">music</a> also we will share here some <a href="/news">info</a> about our band and upcoming tracks.
    Make yourself at home!
    (btw check one of our latest tracks right here :) )
  </div>
  <div class="button-container">
    <app-big-play-button></app-big-play-button>
  </div>
</div>
