@import "src/vrs";

.container {
  border-right: $grey-one 0.2rem solid;
  border-left: $grey-one 0.2rem solid;
  height: 84vh;
  max-height: 84vh;
  overflow-y: auto;
  margin: 0.5rem 8rem 0 15rem;
  padding: 3rem 3rem;
}
