@import "src/vrs";

.container {
  height: 84vh;
  max-height: 84vh;
  overflow-y: auto;
  padding: 3rem 3rem;

  @media (min-width: 1200px) {
    border-right: $grey-one 0.2rem solid;
    border-left: $grey-one 0.2rem solid;
    margin: 0.5rem 8rem 0 15rem;
  }
}
