@import "src/vrs";

.container{
  width: 96%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 5rem;
  border: 0.2rem solid lighten( $font-color-header-one, 20%);
  border-radius: 1.8rem;
  padding: 0.6rem 2rem;
  margin-top: 0.9rem;

  .control-button-container {
    margin-right: 3rem;
  }

  .name-block {
    display: flex;
    justify-content: flex-start;

    .track-name {
      &:nth-child(2) {
        margin-left: 0.4rem;
      }

      display: inline-block;
      text-align: center;
      font-size: 2rem;
      font-weight: 500;
      color: $font-color-header-one;
    }
  }

  .left-main-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    .left-container {
      display: flex;
      justify-content: flex-start;
      align-items: center;

      .order {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        width: 4rem;
        margin-right: 1rem;
      }
    }
  }
}
