<div class="container">
  <h3>Links</h3>

  <div>
    <div class="social-networks">
      <div>
        <a href="https://www.facebook.com/Opposite-reaction-348027019402110" target="_blank">Facebook</a>
      </div>
      <div>
        <a href="https://www.instagram.com/opposite.reaction.band" target="_blank">Instagram</a>
      </div>
    </div>
    <div class="music">
      <div>
        <a href="https://soundcloud.com/opposite_reaction" target="_blank">SoundCloud</a>
      </div>
      <div>
        <a href="https://open.spotify.com/artist/68MZ4X3mcoZqqWTV5whJcs" target="_blank">Spotify</a>
      </div>
      <div>
        <a href="https://itunes.apple.com/by/artist/opposite-reaction/1461714408" target="_blank">iTunes</a>
      </div>
      <div>
        <a href="https://listen.tidal.com/artist/15646304" target="_blank">Tidal</a>
      </div>
      <div>
        <a href="https://www.deezer.com/ru/artist/64533632" target="_blank">Deezer</a>
      </div>
      <div>
        <a href="https://play.google.com/music/listen?u=1#/artist/A6owvmk46o6r7uvu7giyxzsmony/Opposite+Reaction" target="_blank">Google Music</a>
      </div>
    </div>
  </div>

</div>
