@import "src/vrs";

.container {
  height: 70rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
    .tracks-container{
      max-height: 68rem;
      overflow-y: auto;
      overflow-x: hidden;
    }
}

.upload-container {
  -webkit-box-shadow: -8px 6px 81px -24px rgba(0,0,0,0.75);
  -moz-box-shadow: -8px 6px 81px -24px rgba(0,0,0,0.75);
  box-shadow: -8px 6px 81px -24px rgba(0,0,0,0.75);
  border-bottom: $grey-one 0.1rem solid;
}

