<form class="main-container" #trackUploadFormTag="ngForm" [formGroup]="trackUploadForm" (ngSubmit)="onFormSubmit($event)">
  <div class="upload-container">
    <div class="upload-block"
         [ngClass]="isActiveUpload ? 'show-shadow-fall-upload-up' : 'show-shadow-fall-upload-down'"
    >
      <div class="upload-controls">
        <div class="input-block">
          <div class="label">track name</div>
          <app-input-form-control [formControl]="trackUploadForm.controls['trackName']"></app-input-form-control>
          <app-validation-message [field]="trackUploadForm && trackUploadForm.get('trackName')"></app-validation-message>
        </div>
        <div class="input-block">
          <div class="label">band name</div>
          <app-input-form-control [formControl]="trackUploadForm.controls['bandName']"></app-input-form-control>
          <app-validation-message [field]="trackUploadForm && trackUploadForm.get('bandName')"></app-validation-message>
        </div>
        <app-file-form-control [formControl]="trackUploadForm.controls['file']"></app-file-form-control>
        <div
          *ngIf="trackUploadForm.valid && trackUploadForm.touched"
        >
          <app-triangle-slide-btn
            (clickBtn)="uploadTrack()"
          ></app-triangle-slide-btn>
        </div>
        <app-round-button
          [customStyles]="{width: '3rem',height: '3rem'}"
          [icon]="'clear'"
          isFlashing="true"
          *ngIf="trackUploadForm.touched"
          (clickButton)="clearForm()"
        >

        </app-round-button>

      </div>
      <a
        class="upload-button"
        [ngClass]="{'active-upload-component': isActiveUpload }"
        (click)="isActiveUpload = !isActiveUpload;"
      >
        <mat-icon>cloud_upload</mat-icon>
      </a>
    </div>
  </div>
</form>
